/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --raisin-black: hsla(231, 10%, 14%, 1);
  --roman-silver: hsla(229, 10%, 57%, 1);
  --eerie-black: hsla(228, 9%, 10%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white_a10: hsla(0, 0%, 100%, 0.1);
  --white_a5: hsla(0, 0%, 100%, 0.05);

  /**
   * typography
   */

  --ff-syne: 'Syne', sans-serif;

  --fs-1: 4.8rem;
  --fs-2: 4.5rem;
  --fs-3: 4rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;
  
  --fw-800: 800;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * border radius
   */

  --radius-pill: 100px;
  --radius-circle: 50%;
  --blob-radius: 52% 48% 59% 41% / 53% 40% 60% 47%;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  --cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
data,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
.phero{
  color: white;
}
ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-syne);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black);
  color: var(--roman-silver);
  font-size: 1.6rem;
  line-height: 1.75;
  overflow: hidden;
}

body.loaded { overflow: overlay; }

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 12px; }
.separation{
  padding-top: 100px;
}

/* .section { padding-block: var(--section-padding); } */

.h1 {
  font-size: var(--fs-2);
  font-weight: var(--fw-800);
}

.h1,
.h2,
.h4 {
  color: var(--white);
  line-height: 1;
}

.h2 { font-size: var(--fs-2); }

.h3 {
  color: var(--white);
  font-size: var(--fs-4);
  line-height: 1.5;
}

.h4 { font-size: var(--fs-5); }

.h2,
.h3,
.h4 { font-weight: var(--fw-700); }

.w-100 { width: 100%; }

.has-before {
  position: relative;
  z-index: 1;
}
.featured-name{
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color-second);
  margin-block: 20px;
}
.has-before::before {
  position: absolute;
  content: "";
  z-index: -1;
}

.btn {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  min-width: max-content;
  padding: 20px 32px;
}

.btn::before {
  width: 70px;
  height: 70px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 2px solid var(--white_a5);
  border-radius: var(--radius-circle);
  transition: var(--cubic-bounce);
}

.btn:is(:hover, :focus-visible)::before { left: calc(100% - 70px); }

.section-subtitle {
  text-transform: uppercase;
  font-size: var(--fs-8);
  font-weight: var(--fw-700);
  margin-block-end: 20px;
  letter-spacing: 2px;
}

.section-title { margin-block-end: 45px; }

.text-lg {
  font-family: var(--ff-syne);
  font-size: var(--fs-1);
}

.layer-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider {
  --slider-items: 1;
  --item-gap: 12px;

  margin-block-start: 60px;
  overflow: hidden;
}

.slider-container {
  position: relative;
  display: flex;
  gap: var(--item-gap);
  transition: transform var(--cubic-ease-out);
}

.slider-item {
  --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
  --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));

  min-width: var(--item-width);
  width: var(--item-width);
}

.slider-control {
  position: relative;
  max-width: max-content;
  padding-block: 8px;
  opacity: 0.5;
}

.slider-control .line {
  width: 30px;
  height: 1px;
  background-color: var(--white);
}

.slider-control .arrow {
  position: absolute;
  transform: translateY(-60%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: var(--white);
}

.slider-control.prev .arrow {
  left: 0;
  border-width: 0 0 1px 1px;
}

.slider-control.next .arrow {
  right: 0;
  border-width: 1px 1px 0 0;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--white_a5);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--eerie-black);
  z-index: 10;
  display: grid;
  place-items: center;
  transition: var(--transition-2);
  transition-delay: 0.5s;
}

.preloader.loaded {
  opacity: 0;
  pointer-events: none;
}

.preloader .circle {
  width: 60px;
  height: 60px;
  border: 2px solid var(--raisin-black);
  border-top-color: var(--white);
  border-radius: var(--radius-circle);
  animation: rotate360 1s linear infinite;
  transition: var(--transition-2);
}

@keyframes rotate360 {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}

.preloader.loaded .circle { opacity: 0; }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--eerie-black);
  padding-block: 24px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active {
  background-color: rgba(3, 3, 3, 0.39);
  padding-block: 16px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eng{
  color: var(--white);
  font-size: 13px;
  font-weight: var(--fw-700);
  padding-block: 13px;
  transition: var(--transition-1);
  margin-right: 7px;
}
.eng:is(:hover, :focus-visible) {
  text-shadow: 1px 0 0 var(--eerie-black);
}
 .esp {
  color:gray;
  font-size: 11px;
  font-weight: var(--fw-700);
  padding-block: 15px;
  transition: var(--transition-1);
  margin-right: 7px;
}
.esp:is(:hover, :focus-visible) {
  text-shadow: 1px 0 0 var(--eerie-black);
}

.nav-toggle-btn {
  width: 50px;
  height: 50px;
  background-color: #17181C;
  border-radius: var(--radius-circle);
  display: none;
  place-content: center;
  gap: 8px;
  transition: var(--transition-1);
}

.nav-toggle-btn:is(:hover, :focus-visible) {
  gap: 10px;
}

.nav-toggle-btn.active {
  gap: 8px;
}

.nav-toggle-btn .line {
  width: 25px;
  height: 2px;
  background-color: var(--white);
  transition: var(--transition-1);
}

.nav-toggle-btn.active .line-1 {
  transform: rotate(45deg) translate(4px, 4px);
}

.nav-toggle-btn.active .line-2 {
  transform: rotate(-45deg) translate(3px, -2px);
}

.nav-toggle-btn.active .line-3 {
  background-color: #17181C;
}

.navbar {
  position: absolute;
  top: 100%;
  right: -370px;
  max-width: 370px;
  width: 100%;
  background-color: #17181c00;
  height: 100vh;
  text-align: center;
  padding: 56px 40px;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
  z-index: 1;
}

.navbar.active {
  transform: translateX(-370px);
  visibility: visible;
  background-color: #17181c;
  transition-timing-function: var(--cubic-out);
}

.navbar-link {
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible) {
  text-shadow: 1px 0 0 var(--eerie-black);
}

.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.overlay.active {
  display: block;
}



/* Responsive Styles */
@media (max-width: 1200px) {
  .nav-toggle-btn {
    display: grid;
  }

  .navbar {
    right: -100%;
  }

  .navbar.active {
    transform: translateX(-100%);
  }
}

@media (min-width: 1201px) {
  .navbar {
    position: relative;
    top: 0;
    right: 0;
    max-width: none;
    height: auto;
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    padding: 0;
  }

  .navbar-list {
    display: flex;
  }

  .navbar-link {
    margin: 0 15px;
  }
}
/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { 
  padding-block-start: 130px;
 }

.hero-names {
  display: flex; /* Usa flexbox para alinear horizontalmente */
  gap: 20px; /* Espacio entre los nombres */
}

.hero-title {
  text-transform: uppercase;
  font-size: 40px; /* Ajusta el tamaño del texto según tus necesidades */
  font-weight: var(--fw-800);
  margin: 0; /* Elimina márgenes adicionales */
}
.hero-subtitle2 {
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  color: var(--white);
  letter-spacing: 2px;
  line-height: 1.5em;
  font-size: 20px;
}
.hero-subtitle {
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  color: var(--white);
  letter-spacing: 2px;
  line-height: 1.5em;
  margin-block: 10px 30px;
  font-size: 15px;
}

.hero-banner {
  border-radius: var(--blob-radius);
  overflow: hidden;
  animation: blobAnim 30s linear infinite;
}

@keyframes blobAnim {

  0%,
  100% { border-radius: var(--blob-radius); }

  10% { border-radius: 33% 67% 50% 50% / 43% 39% 61% 57%; }

  20% { border-radius: 51% 49% 31% 69% / 65% 39% 61% 35%; }

  30% { border-radius: 51% 49% 56% 44% / 45% 39% 61% 55%; }

  40% { border-radius: 66% 34% 33% 67% / 48% 71% 39% 52%; }

  50% { border-radius: 46% 54% 33% 67% / 48% 30% 70% 52%; }

  60% { border-radius: 46% 54% 56% 44% / 48% 30% 70% 52%; }

  70% { border-radius: 46% 54% 56% 44% / 65% 53% 47% 35%; }

  80% { border-radius: 67% 33% 56% 44% / 37% 53% 47% 63%; }

  90% { border-radius: 46% 54% 32% 68% / 37% 53% 47% 63%; }

}

.hero .section-text { margin-block: 30px; }

.hero .btn { margin-inline: auto; }





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-card {
  position: relative;
  background-color: var(--raisin-black);
  height: 100%;
  padding: 60px 40px 40px;
  transition: var(--transition-2);
}

.service-card .card-icon ion-icon {
  color: var(--content-color, var(--white));
  font-size: 6rem;
  --ionicon-stroke-width: 15px;
}

.service-card .card-title {
  color: var(--content-color, var(--white));
  margin-block: 20px;
}

.service-card .card-text { color: var(--content-color); }



.service-card:is(:hover, :focus-within) {
  background-color: var(--white);
  --content-color: var(--raisin-black);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #17181C;
}

 .row .column {
  flex: 1 1 40rem;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.row .column .title {
  color: #ffffff;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.row .column .box {
  padding-left: 2.5rem;
  padding-bottom: 2rem;
  border-left: 0.2rem solid #ffffff;
  position: relative;
}

 .row .column .box::before {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: -1.1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #ffffff;
}

 .row .column .box .year {
  font-size: 1.5rem;
  color: #f8f8f8;
  padding-bottom: 0.5rem;
}

 .row .column .box .year i {
  padding-right: 0.5rem;
}

 .row .column .box h4 {
  color: #ffffff;
  font-size: 2rem;
}

 .row .column .box p {
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  text-align: center;
}
.botton {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff;
  padding: 0.85em 1.5em;
  margin-top: 30px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

.botton:hover {
  background-color: #505050;
  color: #ffffff;
}




/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

.skills .section-text { margin-block-end: 20px; }

.skills .btn { margin-block: 45px; }

.skills-list li:not(:last-child) { margin-block-end: 30px; }

.progress-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: var(--fw-700);
  margin-block-end: 5px;
}

.progress-bg {
  height: 6px;
  background-color: var(--raisin-black);
  border-radius: var(--radius-pill);
}

.progress {
  height: inherit;
  background-color: var(--white);
  border-radius: inherit;
}

.slider {
  background-color:#17181C;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 100%;
}

.slider .slide img {
  width: 80%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}



/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.portfolio .slider { --item-gap: 16px; }

.portfolio-card {
  position: relative;
  background-color: transparent;
  transition: var(--cubic-ease-out);
}

.portfolio-card .img-cover { transition: var(--cubic-ease-out); }

.portfolio-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-55%, -50%);
  opacity: 0;
  transition: var(--cubic-ease-out);
  z-index: 1;
}

.portfolio-card .card-text { color: var(--white); }

.portfolio-card:is(:hover, :focus-within) .img-cover {
  opacity: 0.1;
  transform: scale(0.95);
}

.portfolio-card:is(:hover, :focus-within) .card-content {
  transform: translate(-50%, -50%);
  opacity: 1;
}





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog-list {
  display: grid;
  gap: 60px;
}

.blog-card {
  display: grid;
  gap: 40px;
}

.blog-card .card-content {
  display: flex;
  gap: 16px;
  padding-inline: 16px;
}

.blog-card .time { font-size: var(--fs-7); }

.blog-card .time .span {
  color: var(--white);
  font-weight: var(--fw-700);
  line-height: 0.9;
}

.blog-card .card-text { margin-block: 20px; }



/* CONTACT */

#contact {
  display: flex;
  flex-direction: column;
  height: 60vh;
}
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}
.icon {
  cursor: pointer;
  height: 2rem;
}
.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(255, 255, 255);
}

/* Responsive styles */
@media (max-width: 768px) {
  .contact-info-upper-container {
    flex-direction: column;
    padding: 1rem;
  }

  .contact-info-container {
    margin: 0.5rem 0;
  }

  .contact-info-container p {
    font-size: medium;
  }
}

@media (max-width: 480px) {
  .contact-info-container p {
    font-size: small;
  }

  .contact-info-container {
    flex-direction: column;
    text-align: center;
  }
  .hero-title {
    text-transform: uppercase;
    font-size: 30px; /* Ajusta el tamaño del texto según tus necesidades */
    font-weight: var(--fw-800);
    margin: 0; /* Elimina márgenes adicionales */
  }
}
/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/


.social-list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.social-link {
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white_a10);
  border-radius: var(--radius-circle);
  color: var(--white);
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) { border-color: var(--white); }


/* seccion F O O T E R */
/* *********************/
.social-list {
  display: flex;
  gap: 10px;
  padding: 5PX;
  align-items: center;
  justify-content: center;
}

.social-link {
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white_a10);
  border-radius: var(--radius-circle);
  color: var(--white);
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) { border-color: var(--white); }

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--raisin-black);
  height: auto;
  width: 100vw;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
/* CONTACT */

#contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem; /* Añade espacio debajo de la sección de contacto */
  padding: 12px;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  background: rgba(250, 250, 250, 0);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(255, 255, 255);
}

/* Form styles */
.contact-form-container {
  margin: 2rem auto;
  width: 100%;
  color: white;
  max-width: 600px;
  padding: 1rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0);
  
}

/* Posicionamiento y estilos base para el form-group y sus elementos */
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
  border: 2px solid #fff;
  background-color: transparent;
  color: white;
  outline: none;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
  background-color: transparent;
  padding: 0 5px;
}

.form-group input:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label,
.form-group textarea:focus ~ label,
.form-group textarea:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 15px;
  font-size: 16px;
  background-color: #17181C;
}

/* Otros estilos de formulario */
#contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding: 12px;
}

.contact-form-container {
  margin: 2rem auto;
  width: 100%;
  color: white;
  max-width: 600px;
  padding: 1rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0);
}

/* Estilos de los form-group y sus elementos */
.form-group {
  position: relative;
  margin-bottom: 4rem;
  
}

.form-group input,
.form-group textarea {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
  border: 2px solid #fff;
  background-color: transparent;
  color: white;
  outline: none;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
  background-color: transparent;
  padding: 0 5px;
}

.form-group input:focus ~ label,
.form-group input:hover ~ label,
.form-group input:not(:placeholder-shown) ~ label,
.form-group textarea:focus ~ label,
.form-group textarea:hover ~ label,
.form-group textarea:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 15px;
  font-size: 18px;
  background-color:#17181C;
}

/* Estilos del botón */
.button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff;
  padding: 0.85em 1.5em;
  margin-top: 30px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #505050;
  color: #ffffff;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .contact-form-container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .form-group label {
    font-size: 15px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 15px;
  }

  .button {
    font-size: 1rem;
    font-size: 15px;
  }
}

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 200ms;
  text-decoration: none;
}
.whatsapp_float:hover {
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
  transform: scale(110%);
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container { 
    max-width: 570px;
    width: 100%;
    margin-inline: auto;
  }

  .slider { --slider-items: 2; }



  /**
   * BLOG
   */

  .blog-card .card-content {
    padding-inline: 32px;
    gap: 32px;
  }



  /**
   * FOOTER
   */

  .footer-list-title { margin-block-end: 8px; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 6rem;
    --fs-3: 5.5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .title-wrapper {
    display: flex;
    gap: 10%;
  }

  .title-wrapper .section-title { margin-block-end: 0; }

  .title-wrapper .section-text { margin-block-start: 40px; }



  /**
   * HERO
   */

  .hero .container { position: relative; }

  .hero-banner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 55%;
    z-index: -1;
  }

  .hero-content {
    width: 50%;
    margin-inline-start: auto;
    padding-block: 10%;
  }

  .hero-title,
  .hero-subtitle { text-shadow: 2px 2px 0 var(--eerie-black); }



  /**
   * SKILL
   */

  .skills-wrapper {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 40px;
  }

  .skills .btn { margin-block-end: 0; }



  /**
   * BLOG
   */

  .blog-card .card-title { --fs-4: 2.7rem; }



  /**
   * FOOTER
   */

  .footer .container { grid-template-columns: repeat(3, 1fr); }

}




/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-3: 7rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .title-wrapper { gap: 15%; }

  .slider { --slider-items: 3; }



  /**
   * HERO
   */

  .hero-subtitle { --fs-8: 1.4rem; }



  /**
   * SKILL
   */

  .skills .section-title { max-width: 16ch; }

  .skills-wrapper { gap: 10%; }



  /**
   * BLOG
   */

  .blog-card {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .blog-card .card-content { padding: 32px; }

  .blog-list li:nth-child(2n) .card-banner { order: 1; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 140px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1140px; }




  /**
   * HERO
   */

  .hero-content { width: 55%; }

  .hero-title { word-break: normal; }

  .hero .section-text { margin-block-end: 52px; }

}